{% extends "base.html" %}
{% load static %}

{% block title_block %} About Us | KaizenTech {% endblock %}

{% block body_block %}

    <!-- ABOUT US (SECTION 1) START-->
    <div class="about1__main">
        <div class="about1">
            <h2>About Us</h2>
            <div class="about1__body">
                <div class="about1__body__left">
                    <p>
                        Welcome to “Kaizen Tech” the premier Business Development and Digital Publishing Agency dedicated to helping businesses achieve their marketing goals and grow their online presence.
                    </p>
                    <br>
                    <p>
                        We provide top-notch  Business Development and Digital Publishing services that deliver real results and help our clients reach their target audience. Our success in the digital space stems from our belief that innovative thinking, advanced technology, and data are the main foundations of success at scale. Kaizen Tech's objective is to underpromise and overdeliver.

                    </p>

                    <!-- <ul class="service__titles">
                        <li>Search Engine Optimization (SEO)</li>
                        <li>Content Marketing</li>
                        <li>Web Development</li>
                        <li>Branding</li>
                        <li>Social Media Marketing</li>
                        <li>Graphic Design</li>
                        <li>Motion Design & Animation</li>
                        <li>Video Editing and Production</li>
                    </ul> -->
                </div>
                <div class="about1__body__right">
                    <img src="{% static 'img/custom/about/about-hero-img.svg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- ABOUT US (SECTION 1) END -->

    <!-- BLOCKS "TYPE 5-6" -->
    <div class="block block-type-5 style-2 how__we__work">
        <!-- <span class="offset-155 md-offset-80"></span> -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                    <article class="main large align-center">
                        <h2 class="h1 title bg-title active-element">how we work<span class="bg"></span></h2>
                        <div class="offset-15"></div>
                        <!-- <p>
                        Nulla sodales massa sit amet mi faucibus, id dapibus elit iaculis liquam tincidunt at ex ut cursus nec lacus lobortis pulvinar nis.   
                        </p> -->
                        <!-- <div class="offset-85 md-offset-40"></div> -->
                    </article>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="block block-type-6">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="thumbs">
                                <div class="clip">
                                    <div class="bg-nofixed" style="background-image:url('{% static 'img/custom/how-we-work/1.1.svg' %}')"></div>
                                    <span class="bg-span light10"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 description">
                            <div class="offset-50 md-offset-20"></div>
                            <div class="portrait">
                                <div class="animated-block scroll-animation animate-higher">
                                    <span class="top"></span>
                                    <span class="right"></span>
                                    <span class="bottom"></span>
                                    <span class="left"></span>
                                    <img src="{% static 'img/custom/about/our-team-photos/4.jpg' %}" alt=""/>
                                </div>
                                <div class="offset-40 md-offset-15"></div>
                                <h3 class="h3-20">
                                    Plan Development
                                </h3>
                                <div class="offset-10"></div>
                            </div>
                            <article class="normal grei-919191">
                                <p>
                                    Understanding your business, your market, your product, your services, your goals, your focus, and develop a strategy for SEO
                                </p>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="offset-60 md-offset-40"></div>
            </div>
            <div class="row">
                <div class="block block-type-6">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-6 col-md-offset-1 col-md-push-5 col-sm-6 col-sm-push-6 col-xs-12 col-xs-offset-0 col-xs-push-0">
                            <div class="thumbs">
                                <div class="clip">
                                    <div class="bg-nofixed" style="background-image:url('{% static 'img/custom/how-we-work/2.1.svg' %}')"></div>
                                    <span class="bg-span light10"></span>
                                </div>
                            </div>
                            <!-- <div class="text-wrapper">
                                <div class="table-view">
                                    <div class="cell-view cell-view-left">

                                        <h3 class="h2"><a href="#"  class="hover-effect-2lines">We Work<br> Only Step by Step</a></h3>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="col-md-5 col-md-pull-6 col-sm-6 col-sm-pull-6 col-xs-12 col-xs-pull-0 description align-right">
                            <div class="offset-50 md-offset-20"></div>
                            <div class="portrait">
                                <div class="animated-block scroll-animation animate-higher">
                                    <span class="top"></span>
                                    <span class="right"></span>
                                    <span class="bottom"></span>
                                    <span class="left"></span>
                                    <img src="{% static 'img/custom/about/our-team-photos/5.jpg' %}" alt=""/>
                                </div>
                                <div class="offset-40 md-offset-15"></div>
                                <h3 class="h3-20"> Strategic Execution</h3>
                                <div class="offset-10"></div>
                            </div>
                            <article class="normal grei-919191">
                                <p>
                                    Execute the developed optimization strategy on your website for increased traffic, keywords, content, and linkage
                                </p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="block block-type-6">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="thumbs">
                                <div class="clip">
                                    <div class="bg-nofixed" style="background-image:url('{% static 'img/custom/how-we-work/3.1.svg' %}')"></div>
                                    <span class="bg-span light10"></span>
                                </div>
                            </div>
                            <!-- <div class="text-wrapper">
                                <div class="table-view">
                                    <div class="cell-view cell-view-right">
                                        <h3 class="h2"><a href="#" class="hover-effect-2lines">Creative Idea<br> is Not Success Project</a></h3>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 description">
                            <div class="offset-50 md-offset-20"></div>
                            <div class="portrait">
                                <div class="animated-block scroll-animation animate-higher">
                                    <span class="top"></span>
                                    <span class="right"></span>
                                    <span class="bottom"></span>
                                    <span class="left"></span>
                                    <img src="{% static 'img/custom/about/our-team-photos/6.jpg' %}" alt=""/>
                                </div>
                                <div class="offset-40 md-offset-15"></div>
                                <h3 class="h3-20">Website Monitoring</h3>
                                <div class="offset-10"></div>
                            </div>
                            <article class="normal grei-919191">
                                <p>
                                    Monitor search engine keyword rankings, website performance, and website links to ensure success.
                                </p>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="offset-60 md-offset-40"></div>
            </div>
            <div class="row">
                <div class="block block-type-6">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-6 col-md-offset-1 col-md-push-5 col-sm-6 col-sm-push-6 col-xs-12 col-xs-offset-0 col-xs-push-0">
                            <div class="thumbs">
                                <div class="clip">
                                    <div class="bg-nofixed" style="background-image:url('{% static 'img/custom/how-we-work/4.1.svg' %}')"></div>
                                    <span class="bg-span light10"></span>
                                </div>
                            </div>
                            <!-- <div class="text-wrapper">
                                <div class="table-view">
                                    <div class="cell-view cell-view-left">

                                        <h3 class="h2"><a href="#"  class="hover-effect-2lines">We Work<br> Only Step by Step</a></h3>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="col-md-5 col-md-pull-6 col-sm-6 col-sm-pull-6 col-xs-12 col-xs-pull-0 description align-right">
                            <div class="offset-50 md-offset-20"></div>
                            <div class="portrait">
                                <div class="animated-block scroll-animation animate-higher">
                                    <span class="top"></span>
                                    <span class="right"></span>
                                    <span class="bottom"></span>
                                    <span class="left"></span>
                                    <img src="{% static 'img/custom/about/our-team-photos/7.jpg' %}" alt=""/>
                                </div>
                                <div class="offset-40 md-offset-15"></div>
                                <h3 class="h3-20"> Post Website Optimization</h3>
                                <div class="offset-10"></div>
                            </div>
                            <article class="normal grei-919191">
                                <p>
                                    Continue to optimize website based on results and performance
                                </p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- BLOCKS "TYPE 5-6" -->




    <!-- BLOCK "TYPE 11 STYLE 6 PAGE 2.1" -->
    <!-- Chair person gallery without slider START -->
    <div class="block block-type-11 style-6">
        <span class="offset-145 md-offset-55"></span>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
                    <article class="main align-center with-subheading">
                        <span class="offset-12"></span>
                        <h2 class="h1">
                            <span class="capitalized">Our team</span>
                            <span class="left-decoration active-element"></span>
                            <span class="right-decoration active-element"></span>
                        </h2>
                        <span class="offset-10"></span>
                        <div class="subheading normal dark-555555">meet with professionals</div>
                        <span class="offset-85 md-offset-40"></span>
                    </article>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="sorting-container full-page borders" data-wow-delay="0.3s">
                        <div class="grid-sizer"></div>
                        <div class="sorting-item filter-1">
                            <img src="{% static 'img/custom/about/our-team-gallery/1.svg' %}" height="170" width="170" alt="" />
                        </div>
                        <div class="sorting-item filter-2">
                            <img src="{% static 'img/custom/about/our-team-gallery/2.svg' %}" height="170" width="370" alt="" />
                        </div>
                        <div class="sorting-item filter-3">
                            <img src="{% static 'img/custom/about/our-team-gallery/3.svg' %}" height="170" width="170" alt="" />
                        </div>
                        <div class="sorting-item filter-4">
                            <img src="{% static 'img/custom/about/our-team-gallery/4.svg' %}" height="170" width="370" alt="" />
                        </div>
                        <div class="sorting-item filter-1">
                            <img src="{% static 'img/custom/about/our-team-gallery/5.svg' %}" height="170" width="170" alt="" />
                        </div>
                        <div class="sorting-item filter-2">
                            <img src="{% static 'img/custom/about/our-team-gallery/6.svg' %}" height="170" width="170" alt="" />
                        </div>
                        <div class="sorting-item filter-3">
                            <img src="{% static 'img/custom/about/our-team-gallery/7.svg' %}" height="170" width="170" alt="" />
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12" data-wow-delay="0.3s">
                    <span class="offset-15 md-offset-7-5 xs-offset-7-5"></span>
                    <div class="block-type-10 style-3">
                        <div class="block-type-1 style-2">
                            <div class="animated-block scroll-animation normal-square animate-lower">
                                <span class="top"></span>
                                <span class="right"></span>
                                <span class="bottom"></span>
                                <span class="left"></span>
                            </div>
                            <div class="icon-wrapper circle-decoration animate-circle big-circle" id="circle-id1">
                            </div>
                        </div>
                        <div class="chair__person__section">
                            <div class="chair__person__section__wrapper">
                                <div class="swiper-slide">
                                    <div class="table-view">
                                        <div class="cell-view">
                                            <article class="normal col-md-12 block-type-7 grei-919191">
                                                <div class="icon-wrapper circle-decoration animate-circle style-2" id="circle-id2">
                                                    <img src="{% static 'img/custom/about/mm1.png' %}" alt="" class="round-img">
                                                    <span class="center"></span>
                                                </div>
                                                <span class="offset-30 md-offset-5"></span>
                                                <h5 class="h5 align-center"><a href="#" class="name hover-effect-bold">KH Moallem Abdul Malek</a>
                                                </h5>
                                                <span class="offset-5"></span>
                                                <div class="x-small position uppercased">Founder & Chairman</div>
                                                <div class="decoration-vertical active-element"></div>
                                                <p>
                                                    If you want to grow you have to do something different from the majority of people.
                                                </p>
                                                <span class="clearfix"></span>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <!-- Chair person gallery without slider END -->
    <!-- BLOCK "TYPE 11 STYLE 6 PAGE 2.1" -->


    <!-- Gallery without slider -->
    <div class="block block-type-13">
        <span class="offset-120 md-offset-60"></span>
        <div class="container">
            <div class="row">
                <div class="team__section">
                    <div class="team__section__wrapper">
                        <div class="swiper-slide">
                            <div class="thumb-slide">
                                <div class="clip">

                                    <div class="our__team__hover-content">
                                        <span class="top"></span>
                                        <span class="right"></span>
                                        <span class="bottom"></span>
                                        <span class="left"></span>
                                    </div>

                                    <div class="bg-nofixed"  style="background-image:url('{% static 'img/custom/about/our-team-photos/2.svg' %}')"></div>
                                    <span class="bg-span hover-bg"></span>
                                </div>
                                <div class="animated-block scroll-animation animate-higher">
                                    <span class="top"></span>
                                    <span class="right"></span>
                                    <span class="bottom"></span>
                                    <span class="left"></span>
                                    <div class="hover-content normal">
                                        <div class="follow">
                                            <a target="_blank" href="https://www.facebook.com/kaizentechglobal">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <!-- <a target="_blank" href="mailto:fahmida.syn@gmail.com">
                                                <i class="fa fa-envelope-o"></i>
                                            </a> -->
                                            <a target="_blank" href="https://twitter.com/KaizenTechIT">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a target="_blank" href="https://www.linkedin.com/in/afrinfahmida/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <article class="inner-content">
                                    <span class="offset-30 md-offset-15"></span>
                                    <h5 class="h5 align-center"><a href="#" class="name">Fahmida Afrin</a>
                                    </h5>
                                    <span class="offset-5"></span>
                                    <div class="x-small position">Managing Director</div>
                                    <span class="offset-20"></span>                          
                                    <span class="clearfix"></span>
                                </article>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="thumb-slide">
                                <div class="clip">

                                    <div class="our__team__hover-content">
                                        <span class="top"></span>
                                        <span class="right"></span>
                                        <span class="bottom"></span>
                                        <span class="left"></span>
                                    </div>

                                    <div class="bg-nofixed"  style="background-image:url('{% static 'img/custom/about/our-team-photos/3.svg' %}')"></div>
                                    <span class="bg-span hover-bg"></span>
                                </div>
                                <div class="animated-block scroll-animation animate-higher">
                                    <span class="top"></span>
                                    <span class="right"></span>
                                    <span class="bottom"></span>
                                    <span class="left"></span>
                                    <div class="hover-content normal">
                                        <div class="follow">
                                            <a target="_blank" href="https://www.facebook.com/kaizentechglobal">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <!-- <a target="_blank" href="mailto:mnkabir@gmail.com">
                                                <i class="fa fa-envelope-o"></i>
                                            </a> -->
                                            <a target="_blank" href="https://twitter.com/KaizenTechIT">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a target="_blank" href="#">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <article class="inner-content">
                                    <span class="offset-30 md-offset-15"></span>
                                    <h5 class="h5 align-center"><a href="#" class="name">Mohammad Nasimul Kabir</a>
                                    </h5>
                                    <span class="offset-5"></span>
                                    <div class="x-small position">Chief Technology Officer</div>
                                    <span class="offset-20"></span>                          
                                    <span class="clearfix"></span>
                                </article>
                            </div>
                        </div>


                        <div class="swiper-slide">
                            <div class="thumb-slide">
                                <div class="clip">

                                    <div class="our__team__hover-content">
                                        <span class="top"></span>
                                        <span class="right"></span>
                                        <span class="bottom"></span>
                                        <span class="left"></span>
                                    </div>

                                    <div class="bg-nofixed"  style="background-image:url('{% static 'img/custom/about/our-team-photos/4.jpg' %}')"></div>
                                    <span class="bg-span hover-bg"></span>
                                </div>
                                <div class="animated-block scroll-animation animate-higher">
                                    <span class="top"></span>
                                    <span class="right"></span>
                                    <span class="bottom"></span>
                                    <span class="left"></span>
                                    <div class="hover-content normal">
                                        <div class="follow">
                                            <a target="_blank" href="https://www.facebook.com/kaizentechglobal">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <!-- <a target="_blank" href="mailto:nayonkobir655@gmail.com">
                                                <i class="fa fa-envelope-o"></i>
                                            </a> -->
                                            <a target="_blank" href="https://twitter.com/KaizenTechIT">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a target="_blank" href="#">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <article class="inner-content">
                                    <span class="offset-30 md-offset-15"></span>
                                    <h5 class="h5 align-center"><a href="#" class="name">Atiar Rahman</a>
                                    </h5>
                                    <span class="offset-5"></span>
                                    <div class="x-small position">Content Manger</div>
                                    <span class="offset-20"></span>                          
                                    <span class="clearfix"></span>
                                </article>
                            </div>
                        </div>


                        <div class="swiper-slide">
                            <div class="thumb-slide">
                                <div class="clip">

                                    <div class="our__team__hover-content">
                                        <span class="top"></span>
                                        <span class="right"></span>
                                        <span class="bottom"></span>
                                        <span class="left"></span>
                                    </div>

                                    <div class="bg-nofixed"  style="background-image:url('{% static 'img/custom/about/our-team-photos/5.jpg' %}')"></div>
                                    <span class="bg-span hover-bg"></span>
                                </div>
                                <div class="animated-block scroll-animation animate-higher">
                                    <span class="top"></span>
                                    <span class="right"></span>
                                    <span class="bottom"></span>
                                    <span class="left"></span>
                                    <div class="hover-content normal">
                                        <div class="follow">
                                            <a target="_blank" href="https://www.facebook.com/kaizentechglobal">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <!-- <a target="_blank" href="mailto:tanvirgazikaizen@gmail.com">
                                                <i class="fa fa-envelope-o"></i>
                                            </a> -->
                                            <a target="_blank" href="https://twitter.com/KaizenTechIT">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a target="_blank" href="https://www.linkedin.com/in/tanvir-sujon-9a956a299/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <article class="inner-content">
                                    <span class="offset-30 md-offset-15"></span>
                                    <h5 class="h5 align-center"><a href="#" class="name">Tanvir Gazi</a>
                                    </h5>
                                    <span class="offset-5"></span>
                                    <div class="x-small position">Assistant Content Manager</div>
                                    <span class="offset-20"></span>                          
                                    <span class="clearfix"></span>
                                </article>
                            </div>
                        </div>


                        <div class="swiper-slide">
                            <div class="thumb-slide">
                                <div class="clip">

                                    <div class="our__team__hover-content">
                                        <span class="top"></span>
                                        <span class="right"></span>
                                        <span class="bottom"></span>
                                        <span class="left"></span>
                                    </div>

                                    <div class="bg-nofixed"  style="background-image:url('{% static 'img/custom/about/our-team-photos/6.jpg' %}')"></div>
                                    <span class="bg-span hover-bg"></span>
                                </div>
                                <div class="animated-block scroll-animation animate-higher">
                                    <span class="top"></span>
                                    <span class="right"></span>
                                    <span class="bottom"></span>
                                    <span class="left"></span>
                                    <div class="hover-content normal">
                                        <div class="follow">
                                            <a target="_blank" href="https://www.facebook.com/kaizentechglobal">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <!--<a re target="_blank"f="mailto:#">
                                                <i class="fa fa-envelope-o"></i>
                                            </a> -->
                                            <a target="_blank" href="https://twitter.com/KaizenTechIT">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a target="_blank" href="https://www.linkedin.com/in/hamidrana085/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <article class="inner-content">
                                    <span class="offset-30 md-offset-15"></span>
                                    <h5 class="h5 align-center"><a href="#" class="name">Rana Hamid</a>
                                    </h5>
                                    <span class="offset-5"></span>
                                    <div class="x-small position">Video Editor / Cinematographer</div>
                                    <span class="offset-20"></span>                          
                                    <span class="clearfix"></span>
                                </article>
                            </div>
                        </div>


                        <div class="swiper-slide">
                            <div class="thumb-slide">
                                <div class="clip">

                                    <div class="our__team__hover-content">
                                        <span class="top"></span>
                                        <span class="right"></span>
                                        <span class="bottom"></span>
                                        <span class="left"></span>
                                    </div>

                                    <div class="bg-nofixed"  style="background-image:url('{% static 'img/custom/about/our-team-photos/7.jpg' %}')"></div>
                                    <span class="bg-span hover-bg"></span>
                                </div>
                                <div class="animated-block scroll-animation animate-higher">
                                    <span class="top"></span>
                                    <span class="right"></span>
                                    <span class="bottom"></span>
                                    <span class="left"></span>
                                    <div class="hover-content normal">
                                        <div class="follow">
                                            <a target="_blank" href="https://www.facebook.com/kaizentechglobal">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <!-- <a target="_blank" href="mailto:kabirkaizen@gmail.com">
                                                <i class="fa fa-envelope-o"></i>
                                            </a> -->
                                            <a target="_blank" href="https://twitter.com/KaizenTechIT">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a target="_blank" href="https://www.linkedin.com/in/abdullah-kabir-777a691a4/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <article class="inner-content">
                                    <span class="offset-30 md-offset-15"></span>
                                    <h5 class="h5 align-center"><a href="#" class="name">Abdhullh al kabir</a>
                                    </h5>
                                    <span class="offset-5"></span>
                                    <div class="x-small position">Digital Marketing Manager</div>
                                    <span class="offset-20"></span>                          
                                    <span class="clearfix"></span>
                                </article>
                            </div>
                        </div>


                        <div class="swiper-slide">
                            <div class="thumb-slide">
                                <div class="clip">

                                    <div class="our__team__hover-content">
                                        <span class="top"></span>
                                        <span class="right"></span>
                                        <span class="bottom"></span>
                                        <span class="left"></span>
                                    </div>

                                    <div class="bg-nofixed"  style="background-image:url('{% static 'img/custom/about/our-team-photos/8.jpg' %}')"></div>
                                    <span class="bg-span hover-bg"></span>
                                </div>
                                <div class="animated-block scroll-animation animate-higher">
                                    <span class="top"></span>
                                    <span class="right"></span>
                                    <span class="bottom"></span>
                                    <span class="left"></span>
                                    <div class="hover-content normal">
                                        <div class="follow">
                                            <a target="_blank" href="https://www.facebook.com/kaizentechglobal">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <!-- <a target="_blank" href="mailto:sajjadkaizentech@gmail.com">
                                                <i class="fa fa-envelope-o"></i>
                                            </a> -->
                                            <a target="_blank" href="https://twitter.com/KaizenTechIT">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a target="_blank" href="https://www.linkedin.com/in/md-sajjad-hossain-771898216/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <article class="inner-content">
                                    <span class="offset-30 md-offset-15"></span>
                                    <h5 class="h5 align-center"><a href="#" class="name">Md Sajjad Hossain</a>
                                    </h5>
                                    <span class="offset-5"></span>
                                    <div class="x-small position">Digital Marketing & Communication Exce</div>
                                    <span class="offset-20"></span>                          
                                    <span class="clearfix"></span>
                                </article>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="thumb-slide">
                                <div class="clip">

                                    <div class="our__team__hover-content">
                                        <span class="top"></span>
                                        <span class="right"></span>
                                        <span class="bottom"></span>
                                        <span class="left"></span>
                                    </div>

                                    <div class="bg-nofixed"  style="background-image:url('{% static 'img/custom/about/our-team-photos/9.svg' %}')"></div>
                                    <span class="bg-span hover-bg"></span>
                                </div>
                                <div class="animated-block scroll-animation animate-higher">
                                    <span class="top"></span>
                                    <span class="right"></span>
                                    <span class="bottom"></span>
                                    <span class="left"></span>
                                    <div class="hover-content normal">
                                        <div class="follow">
                                            <a target="_blank" href="https://www.facebook.com/kaizentechglobal">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <!-- <a target="_blank" href="mailto:sohagkaizen@gmail.com">
                                                <i class="fa fa-envelope-o"></i>
                                            </a> -->
                                            <a target="_blank" href="https://twitter.com/KaizenTechIT">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a target="_blank" href="https://www.linkedin.com/in/asikurrahmansohag/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <article class="inner-content">
                                    <span class="offset-30 md-offset-15"></span>
                                    <h5 class="h5 align-center"><a href="#" class="name">Asikur Rahman</a>
                                    </h5>
                                    <span class="offset-5"></span>
                                    <div class="x-small position">Social Media Executive</div>
                                    <span class="offset-20"></span>                          
                                    <span class="clearfix"></span>
                                </article>
                            </div>
                        </div>


                        <div class="swiper-slide">
                            <div class="thumb-slide">
                                <div class="clip">

                                    <div class="our__team__hover-content">
                                        <span class="top"></span>
                                        <span class="right"></span>
                                        <span class="bottom"></span>
                                        <span class="left"></span>
                                    </div>

                                    <div class="bg-nofixed"  style="background-image:url('{% static 'img/custom/about/our-team-photos/11.jpg' %}')"></div>
                                    <span class="bg-span hover-bg"></span>
                                </div>
                                <div class="animated-block scroll-animation animate-higher">
                                    <span class="top"></span>
                                    <span class="right"></span>
                                    <span class="bottom"></span>
                                    <span class="left"></span>
                                    <div class="hover-content normal">
                                        <div class="follow">
                                            <a target="_blank" href="https://www.facebook.com/kaizentechglobal">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <!-- <a target="_blank" href="mailto:tanvirkaizen1@gmail.com">
                                                <i class="fa fa-envelope-o"></i>
                                            </a> -->
                                            <a target="_blank" href="https://twitter.com/KaizenTechIT">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a target="_blank" href="https://www.linkedin.com/in/abdullahrajibulislam/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <article class="inner-content">
                                    <span class="offset-30 md-offset-15"></span>
                                    <h5 class="h5 align-center"><a href="#" class="name">Muhammad Tanvir</a>
                                    </h5>
                                    <span class="offset-5"></span>
                                    <div class="x-small position">Motion Graphics Designer</div>
                                    <span class="offset-20"></span>                          
                                    <span class="clearfix"></span>
                                </article>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="thumb-slide">
                                <div class="clip">

                                    <div class="our__team__hover-content">
                                        <span class="top"></span>
                                        <span class="right"></span>
                                        <span class="bottom"></span>
                                        <span class="left"></span>
                                    </div>

                                    <div class="bg-nofixed"  style="background-image:url('{% static 'img/custom/about/our-team-photos/12.jpg' %}')"></div>
                                    <span class="bg-span hover-bg"></span>
                                </div>
                                <div class="animated-block scroll-animation animate-higher">
                                    <span class="top"></span>
                                    <span class="right"></span>
                                    <span class="bottom"></span>
                                    <span class="left"></span>
                                    <div class="hover-content normal">
                                        <div class="follow">
                                            <a target="_blank" href="https://www.facebook.com/kaizentechglobal">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <!-- <a target="_blank" href="mailto:selimuzzamankt@gmail.com">
                                                <i class="fa fa-envelope-o"></i>
                                            </a> -->
                                            <a target="_blank" href="https://twitter.com/KaizenTechIT">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a target="_blank" href="https://www.linkedin.com/in/selimuzzaman-molla-047896204/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <article class="inner-content">
                                    <span class="offset-30 md-offset-15"></span>
                                    <h5 class="h5 align-center"><a href="#" class="name">Selimuzzman Molla</a>
                                    </h5>
                                    <span class="offset-5"></span>
                                    <div class="x-small position">Digital Analytics Manager</div>
                                    <span class="offset-20"></span>                          
                                    <span class="clearfix"></span>
                                </article>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="thumb-slide">
                                <div class="clip">

                                    <div class="our__team__hover-content">
                                        <span class="top"></span>
                                        <span class="right"></span>
                                        <span class="bottom"></span>
                                        <span class="left"></span>
                                    </div>

                                    <div class="bg-nofixed"  style="background-image:url('{% static 'img/custom/about/our-team-photos/13.svg' %}')"></div>
                                    <span class="bg-span hover-bg"></span>
                                </div>
                                <div class="animated-block scroll-animation animate-higher">
                                    <span class="top"></span>
                                    <span class="right"></span>
                                    <span class="bottom"></span>
                                    <span class="left"></span>
                                    <div class="hover-content normal">
                                        <div class="follow">
                                            <a target="_blank" href="https://www.facebook.com/kaizentechglobal">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <!-- <a target="_blank" href="mailto:hedayetullahkaizen@gmail.com">
                                                <i class="fa fa-envelope-o"></i>
                                            </a> -->
                                            <a target="_blank" href="https://twitter.com/KaizenTechIT">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a target="_blank" href="https://www.linkedin.com/in/md-hadayetullah-964672150/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <article class="inner-content">
                                    <span class="offset-30 md-offset-15"></span>
                                    <h5 class="h5 align-center"><a href="#" class="name">Md. Hadayetullah</a>
                                    </h5>
                                    <span class="offset-5"></span>
                                    <div class="x-small position">Web Developer Executive</div>
                                    <span class="offset-20"></span>                          
                                    <span class="clearfix"></span>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="offset-120 md-offset-60"></span>
    </div>
    <!-- Gallery without slider END -->


    
    {% comment %} <span class="offset-145 md-offset-55 xs-offset-65"></span> {% endcomment %}
    

    <span class="offset-160 md-offset-80"></span>


    
    {% include "../footer.html" %}

{% endblock %}
