{% extends "base.html" %}
{% load static %}

{% block title_block %} Services | KaizenTech {% endblock %}

{% block body_block %}

    <!-- SERVICE HERO SECTION START -->
    <div class="about1__main">
        <div class="about1">
            <h2>Our Services</h2>
            <div class="about1__body">
                <div class="about1__body__left">
                    <p>
                        Welcome to Kaizen Tech, where excellence meets innovation in our comprehensive suite of services. Our commitment to providing top-notch solutions is reflected in our diverse offerings. From enhancing your online visibility through expert SEO strategies to crafting compelling marketing campaigns that resonate with your audience, we ensure your brand stands out in the digital landscape. 
                    </p>
                    <br>
                    <p>
                        Elevate your visual storytelling with our graphic and animation services, and turn raw footage into polished masterpieces with our video editing expertise. A powerful online presence begins with a well-designed website, and our web development services guarantee a seamless and user-friendly experience tailored to your brand.
                    </p>
                    <br>
                    <p>
                        At Kaizen Tech, we work collaboratively, delivering customized solutions that align with your unique vision. With transparency, innovation, and measurable results at the core of our approach, choosing Kaizen Tech means choosing a partner dedicated to propelling your business to new heights.
                    </p>
                    <br>
                    <p>
                        Your success is not just our goal; it's our mission. Additionally, our commitment extends to research-based marketing solutions, ensuring that our strategies are grounded in insightful analysis for maximum effectiveness.
                    </p>
                </div>
                <div class="about1__body__right">
                    <img src="{% static 'img/custom/service/SERVICES PAGE.svg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- SERVICE HERO SECTION END -->


    <!-- BLOCK "TYPE 10 STYLE 2 PAGE 1.2" -->
    <div class="block block-type-10">
        <span class="offset-155 md-offset-80"></span>
        <div class="container">
            <div class="get__free__quote1__main">
                <div class="get__free__quote1 choose__us">
                    <h2>Why choose us</h2>
                    <p>
                        Welcome to Kaizen Tech, your gateway to business excellence. Choosing Kaizen Tech means opting for a partner dedicated to your success with a commitment to innovation and unparalleled service. Here's why we stand out.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="block-type-7 block grei-919191">
                    <div class="col-md-4 col-sm-4 col-xs-12 abnormal"  data-wow-delay="0.3s">
                        <div class="thumb animated-block hover-animated thin">
                            <span class="top"></span>
                            <span class="right"></span>
                            <span class="bottom"></span>
                            <span class="left"></span>
                            <span class="offset-60 md-offset-30 sm-offset-40"></span>
                            <article class="normal line-decoration centered active-element wide">
                                <a href="#" class="icon-wrapper circle-decoration animate-circle" id="circle-id1">
                                    <img src="{% static 'img/custom/service/why-choose-us/Comprehensive Solutions.svg' %}" alt="">
                                    <span class="center"></span>
                                </a>
                                <span class="offset-25 md-offset-15"></span>
                                <h6 class="h5 h6-14"><a href="#" class="hover-effect-bold uppercased">Comprehensive Solutions</a></h6>
                                <span class="offset-15 md-offset-5"></span>
                                <p>Kaizen Tech offers a comprehensive suite of services, from SEO and marketing to graphic design, animation, video editing, and web development. We're your one-stop destination for all your business needs.</p>
                            </article>
                            <span class="offset-85 md-offset-15 sm-offset-0"></span>
                        </div>
                    </div>
                    <span class="sm-offset-55"></span>
                    <div class="col-md-4 col-sm-4 col-xs-12 abnormal"  data-wow-delay="0.3s">
                        <div class="thumb animated-block hover-animated  thin">
                            <span class="top"></span>
                            <span class="right"></span>
                            <span class="bottom"></span>
                            <span class="left"></span>
                            <span class="offset-60 md-offset-30 sm-offset-0"></span>
                            <article class="normal line-decoration centered active-element wide">
                                <a href="#" class="icon-wrapper circle-decoration animate-circle" id="circle-id2">
                                    <img src="{% static 'img/custom/service/why-choose-us/Innovative Approach.svg' %}" alt="">
                                    <span class="center"></span>
                                </a>
                                <span class="offset-25 md-offset-15"></span>
                                <h6 class="h5 h6-14"><a href="#" class="hover-effect-bold uppercased">Innovative Approach</a></h6>
                                <span class="offset-15 md-offset-5"></span>
                                <p>We don't just provide services; we bring innovative solutions to the table. Our team of seasoned professionals combines industry expertise with creative thinking to ensure your business stays ahead in a dynamic market.</p>
                            </article>
                            <span class="offset-85 md-offset-15 sm-offset-0"></span>
                        </div>
                    </div>
                    <span class="sm-offset-55"></span>
                    <div class="col-md-4 col-sm-4 col-xs-12 abnormal"  data-wow-delay="0.3s">
                        <div class="thumb animated-block hover-animated  thin">
                            <span class="top"></span>
                            <span class="right"></span>
                            <span class="bottom"></span>
                            <span class="left"></span>
                            <span class="offset-60 md-offset-30 sm-offset-0"></span>
                            <article class="normal line-decoration centered active-element wide">
                                <a href="#" class="icon-wrapper circle-decoration animate-circle" id="circle-id3">
                                    <img src="{% static 'img/custom/service/why-choose-us/Customization and Collaboration.svg' %}" alt="">
                                    <span class="center"></span>
                                </a>
                                <span class="offset-25 md-offset-15"></span>
                                <h6 class="h5 h6-14"><a href="#" class="hover-effect-bold uppercased">Customization and Collaboration</a></h6>
                                <span class="offset-15 md-offset-5"></span>
                                <p>Your goals are unique, and so are our solutions. We believe in collaborative partnerships, tailoring our services to align with your vision and objectives for a truly customized experience.</p>
                            </article>
                            <span class="offset-85 md-offset-15 sm-offset-15"></span>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12 abnormal"  data-wow-delay="0.3s">
                        <div class="thumb animated-block hover-animated thin">
                            <span class="top"></span>
                            <span class="right"></span>
                            <span class="bottom"></span>
                            <span class="left"></span>
                            <span class="offset-60 md-offset-30 sm-offset-40"></span>
                            <article class="normal line-decoration centered active-element wide">
                                <a href="#" class="icon-wrapper circle-decoration animate-circle" id="circle-id1">
                                    <img src="{% static 'img/custom/service/why-choose-us/Transparency and Communication.svg' %}" alt="">
                                    <span class="center"></span>
                                </a>
                                <span class="offset-25 md-offset-15"></span>
                                <h6 class="h5 h6-14"><a href="#" class="hover-effect-bold uppercased">Transparency and Communication</a></h6>
                                <span class="offset-15 md-offset-5"></span>
                                <p>Communication is at the heart of our approach. We maintain transparency at every step, keeping you informed about the progress and ensuring your confidence in our partnership.</p>
                            </article>
                            <span class="offset-85 md-offset-15 sm-offset-0"></span>
                        </div>
                    </div>
                    <span class="sm-offset-55"></span>
                    <div class="col-md-4 col-sm-4 col-xs-12 abnormal"  data-wow-delay="0.3s">
                        <div class="thumb animated-block hover-animated  thin">
                            <span class="top"></span>
                            <span class="right"></span>
                            <span class="bottom"></span>
                            <span class="left"></span>
                            <span class="offset-60 md-offset-30 sm-offset-0"></span>
                            <article class="normal line-decoration centered active-element wide">
                                <a href="#" class="icon-wrapper circle-decoration animate-circle" id="circle-id2">
                                    <img src="{% static 'img/custom/service/why-choose-us/Measurable Results.svg' %}" alt="">
                                    <span class="center"></span>
                                </a>
                                <span class="offset-25 md-offset-15"></span>
                                <h6 class="h5 h6-14"><a href="#" class="hover-effect-bold uppercased">Measurable Results</a></h6>
                                <span class="offset-15 md-offset-5"></span>
                                <p>We don't just promise; we deliver measurable results. Our strategies are designed to drive growth, enhance visibility, and contribute to your overall success. Tangible outcomes are our commitment to you.</p>
                            </article>
                            <span class="offset-85 md-offset-15 sm-offset-0"></span>
                        </div>
                    </div>
                    <span class="sm-offset-55"></span>
                    <div class="col-md-4 col-sm-4 col-xs-12 abnormal"  data-wow-delay="0.3s">
                        <div class="thumb animated-block hover-animated  thin">
                            <span class="top"></span>
                            <span class="right"></span>
                            <span class="bottom"></span>
                            <span class="left"></span>
                            <span class="offset-60 md-offset-30 sm-offset-0"></span>
                            <article class="normal line-decoration centered active-element wide">
                                <a href="#" class="icon-wrapper circle-decoration animate-circle" id="circle-id3">
                                    <img src="{% static 'img/custom/service/why-choose-us/Research-Based Marketing Solution.svg' %}" alt="">
                                    <span class="center"></span>
                                </a>
                                <span class="offset-25 md-offset-15"></span>
                                <h6 class="h5 h6-14"><a href="#" class="hover-effect-bold uppercased">Research-Based Marketing Solutions</a></h6>
                                <span class="offset-15 md-offset-5"></span>
                                <p>Beyond creativity, our solutions are grounded in research. We provide research-based marketing strategies, ensuring that our approach is informed by data and insights for optimal impact.</p>
                            </article>
                            <span class="offset-85 md-offset-15 sm-offset-15"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BLOCK "TYPE 10 STYLE 2 PAGE 1.2" -->
    
    
    <!-- <span class="offset-100 md-offset-80"></span> -->
    
    <!-- BLOCK TYPE 3 PAGE 1.1 -->
    <div class="block block-type-3 style-2">
        <span class="offset-155 md-offset-80"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                    <article class="main large align-center">
                        <h2 class="h1 title bg-title active-element">We Provide<span class="bg"></span></h2>
                        <div class="offset-15"></div>
                        <p>
                            At Kaizen Tech, we take pride in offering a diverse range of services designed to grow your business in the market. 
                        </p>
                        <div class="offset-85 md-offset-40"></div>
                    </article>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 meny-icon we__provide__icons">
                        <div class="wow fadeIn" data-wow-delay="0.3s">
                            <a href="#" class="we__provide__wrapper active">
                                <span class="icon-wrapper">
                                    <img src="{% static 'img/custom/home-page/what-we-do-icons/SEO.svg' %}" alt=""/>
                                </span>
                                <span class="offset-25"></span>
                                <span class="h6 icon-text">SEO</span>
                            </a>
                        </div>
                        <div class="wow fadeIn" data-wow-delay="0.6s">
                            <a href="#" class="we__provide__wrapper">
                                <span class="icon-wrapper">
                                    <img src="{% static 'img/custom/home-page/what-we-do-icons/Marketing.svg' %}" alt=""/>
                                </span>
                                <span class="offset-25"></span>
                                <span class="h6 icon-text">MARKETING</span>
                            </a>
                        </div>
                        <div class="wow fadeIn" data-wow-delay="0.9s">
                            <a href="#" class="we__provide__wrapper">
                                <span class="icon-wrapper">
                                    <img src="{% static 'img/custom/home-page/what-we-do-icons/Graphic & Animation.svg' %}" alt=""/>
                                </span>
                                <span class="offset-25"></span>
                                <span class="h6 icon-text">GRAPHIC & ANIMATION</span>
                            </a>
                        </div>
                        <div class="wow fadeIn" data-wow-delay="1.2s">
                            <a href="#" class="we__provide__wrapper">
                                <span class="icon-wrapper">
                                    <img src="{% static 'img/custom/home-page/what-we-do-icons/Video Production.svg' %}" alt=""/>
                                </span>
                                <span class="offset-25"></span>
                                <span class="h6 icon-text">VIDEO EDITING & Production</span>
                            </a>
                        </div>
                        <div class="wow fadeIn" data-wow-delay="1.5s">
                            <a href="#" class="we__provide__wrapper">
                                <span class="icon-wrapper">
                                    <img src="{% static 'img/custom/home-page/what-we-do-icons/Web Development.svg' %}" alt=""/>
                                </span>
                                <span class="offset-25"></span>
                                <span class="h6 icon-text">WEB DEVELOPMENT</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 meny-icon">
                        <div class="offset-65 md-offset-35"></div>
                        <div class="swiper-container" data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="1">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6">
                                        <div class="clip pull-clip">  
                                            <div class="bg-nofixed" style="background-image:url('{% static 'img/custom/service/we-provide/SEO.svg' %}')"></div>
                                        </div>
                                        <article class="normal align-left dark-555555">
                                            <!-- <div class="offset-60 md-offset-30"></div>
                                            <h4 class="h3">Put your company first and invest in an idea that works.</h4>
                                            <div class="offset-20"></div> -->
                                            <p>
                                                Propel your online presence with our expert SEO strategies. We optimize your digital footprint to ensure maximum visibility and impact on search engines.
                                            </p>
                                            <div class="offset-30"></div>
                                            <ul class="decorated">
                                                <li>Keyword optimization for enhanced rankings.</li>
                                                <li>On-page and off-page SEO strategies.</li>
                                                <li>Local SEO for targeted market reach.</li>
                                                <li>Link-building for increased website authority.</li>
                                            </ul>
                                            <div class="offset-60 md-offset-30 sm-offset-0"></div>
                                        </article>
                                    </div>
                                </div>
                                <div class="swiper-slide">                   
                                    <div class="col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6">
                                        <div class="clip pull-clip" data-wow-delay="0.5s">  
                                            <div class="bg-nofixed" style="background-image:url('{% static 'img/custom/service/we-provide/MARKETING 1.svg' %}')"></div>
                                        </div>
                                        <article class="normal align-left" data-wow-delay="0.5s">
                                            <!-- <div class="offset-60 md-offset-30"></div>
                                            <h4 class="h3">Put your company first and invest in an idea that works.</h4>
                                            <div class="offset-20"></div> -->
                                            <p>
                                                Craft compelling narratives and strategic campaigns with our marketing expertise. From brand positioning to targeted outreach, we drive engagement and results.
                                            </p>
                                            <div class="offset-25"></div>
                                            <ul class="decorated">
                                                <li>Strategic planning aligned with business goals.</li>
                                                <li>Audience identification and segmentation.</li>
                                                <li>Multi-channel campaigns for broad reach.</li>
                                                <li>Data-driven decision-making.</li>
                                                <li>Brand positioning and messaging.</li>
                                            </ul>
                                            <div class="offset-60 md-offset-30 sm-offset-0"></div>
                                        </article>
                                    </div>
                                </div>
                                <div class="swiper-slide">                  
                                    <div class="col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6">
                                        <div class="clip pull-clip" data-wow-delay="0.5s">  
                                            <div class="bg-nofixed" style="background-image:url('{% static 'img/custom/service/we-provide/MOTION GRAPHIC DESIGN.svg' %}')"></div>
                                        </div>
                                        <article class="normal align-left" data-wow-delay="0.5s">
                                            <p>
                                                Capture attention with captivating visuals. Our graphic and animation services bring your ideas to life, creating a visually stunning representation of your brand.
                                            </p>
                                            <div class="offset-25"></div>
                                            <ul class="decorated">
                                                <li>Custom graphic design for branding.</li>
                                                <li>Illustrations and infographics.</li>
                                                <li>Animation for videos and presentations.</li>
                                                <li>Consistent visual identity.</li>
                                                <li>Creative design solutions.</li>
                                            </ul>
                                            <div class="offset-60 md-offset-30 sm-offset-0"></div>
                                        </article>
                                    </div>
                                </div>
                                <div class="swiper-slide">                   
                                    <div class="col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6">
                                        <div class="clip pull-clip" data-wow-delay="0.5s">  
                                            <div class="bg-nofixed" style="background-image:url('{% static 'img/custom/service/we-provide/VIDEO EDITING SERVICES.svg' %}')"></div>
                                        </div>
                                        <article class="normal align-left" data-wow-delay="0.5s">
                                            <p>
                                                Turn your ideas into captivating visual stories with our comprehensive video production and editing services. From concept to execution, we seamlessly bring your vision to life, ensuring your brand story is told effectively. Our expertise includes.
                                            </p>
                                            <div class="offset-25"></div>
                                            <ul class="decorated">
                                                <li>Conceptualization and Scriptwriting</li>
                                                <li>High-Quality Filming and Production</li>
                                                <li>Professional Video Editing for Seamless Storytelling</li>
                                                <li>Visual and Audio Enhancement</li>
                                                <li>Graphics, Effects, and Transitions</li>
                                                <li>Adding creative elements to enhance engagement</li>
                                                <li>Platform-Optimized Content</li>
                                            </ul>
                                            <div class="offset-60 md-offset-30 sm-offset-0"></div>
                                        </article>
                                    </div>
                                </div>
                                <div class="swiper-slide">                   
                                    <div class="col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6">
                                        <div class="clip pull-clip" data-wow-delay="0.5s">  
                                            <div class="bg-nofixed" style="background-image:url('{% static 'img/custom/service/we-provide/WEB DEVELOPMENT.svg' %}')"></div>
                                        </div>
                                        <article class="normal align-left" data-wow-delay="0.5s">
                                            <p>
                                                Your online journey starts with a powerful website. Our web development services guarantee a seamless, user-friendly experience that reflects your brand and meets your business goals.
                                            </p>
                                            <div class="offset-25"></div>
                                            <ul class="decorated">
                                                <li>Customized website design and development.</li>
                                                <li>Responsive design for optimal user experience.</li>
                                                <li>E-commerce solutions with secure payment gateways.</li>
                                                <li>Content management system (CMS) integration.</li>
                                                <li>Ongoing maintenance and support.</li>
                                            </ul>
                                            <div class="offset-60 md-offset-30 sm-offset-0"></div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                            <div class="pagination"></div>
                            
                        </div>
                        <div class="swiper-button-prev swiper-arrow left yellow-border active-element outer">
                            <span>
                                <img src="{% static 'img/main/black-arrow-left.png' %}" alt=""/>
                                <b></b>
                                <b></b>
                            </span>
                        </div>
                        <div class="swiper-button-next swiper-arrow right yellow-border active-element outer">
                            <span>
                                <img src="{% static 'img/main/black-arrow-right.png' %}" alt=""/>
                                <b></b>
                                <b></b>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BLOCK TYPE 3 PAGE 1.1 -->

    <span class="offset-160 md-offset-80"></span>

    {% comment %} <span class="offset-160 md-offset-80"></span> {% endcomment %}
    
    {% include "../footer.html" %}

{% endblock %}