{% extends "base.html" %}
{% load static %}

{% block title_block %} Projects | KaizenTech {% endblock %}

{% block body_block %}

    <div class="block block-type-11 style-5">
        <span class="offset-20"></span>
        <span class="offset-160 md-offset-80"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 our__works__custom">
                    <article class="main align-center with-subheading">
                        <span class="offset-12"></span>
                        <h2 class="h1">
                            <span class="capitalized">Our works</span>
                            <span class="left-decoration active-element"></span>
                            <span class="right-decoration active-element"></span>
                        </h2>
                        <p style="padding-top: 30px;">
                            Every project tells a story about its goals, team, timing, and deliverables—and it requires detailed project planning and management to get the story right. Project planning is the process of defining the project scope, objectives, and steps needed to get the work done. Kaizen Tech - Business Development and Digital Publishing Agency is giving you the complete solution for your business. 
                        </p>
                        <span class="offset-20"></span>
                        <span class="button animated-button colored small-button">look on something amazing</span>
                        <div class="decoration-vertical active-element middle"></div>
                    </article>
                </div>
            </div>
        </div>
    </div>




    <!-- BLOCK "TYPE 11  STYLE 3 PAGE 6.1" -->
    <div class="block block-type-11 style-7 style-9">
        <!-- <span class="offset-145 md-offset-80"></span> -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">

                    <div class="portfolio__top">
                        <h1>Websites</h1>
                    </div>

                    <!-- <article class="main large align-center">
                        <h2 class="h1 title bg-title active-element">Websites<span class="bg"></span></h2>
                        <div class="offset-15"></div>
                        <p>
                        Nulla sodales massa sit amet mi faucibus, id dapibus elit iaculis liquam tincidunt at ex ut cursus nec lacus
                        </p>
                        <div class="offset-70 md-offset-40"></div>
                    </article> -->


                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 portfolio__website__main">
                    <div class="full-page borders hover-left portfolio__website" data-wow-delay="0.3s">
                        <!-- <div class="grid-sizer"></div> -->
                        <div class="sorting-item animated-block hover-animated">
                            <a href="#" class="img-link"><img src="{% static 'img/custom/portfolio/Websites/acoolair.png' %}" height="468" width="778" alt="" /></a>
                            <div class="hover-content">
                                <span class="top"></span>
                                <span class="right"></span>
                                <span class="left"></span>
                                <span class="bottom"></span>
                                <div class="content">
                                    <div class="wrapper">
                                        <h5 class="h5 white"><a class="link" target="_blank" href="https://acoolair.com/">A Cool Air</a></h5>
                                    </div>
                                    <!-- <span class="offset-15"></span>
                                    <span class="button animated-button colored small-button">branding</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="sorting-item animated-block hover-animated right">
                            <a href="#" class="img-link"><img src="{% static 'img/custom/portfolio/Websites/brucesheatingandcooling.png' %}" height="468" width="778" alt="" /></a>
                            <div class="hover-content">
                                <span class="top"></span>
                                <span class="right"></span>
                                <span class="left"></span>
                                <span class="bottom"></span>
                                <div class="content">
                                    <div class="wrapper">
                                        <h5 class="h5 white"><a class="link" target="_blank" href="https://www.brucesheatingandcooling.com/">Bruce Heating and Cooling</a></h5>
                                    </div>
                                    <!-- <span class="offset-15"></span>
                                    <span class="button animated-button colored small-button">branding</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="sorting-item animated-block hover-animated">
                            <a href="#" class="img-link"><img src="{% static 'img/custom/portfolio/Websites/clarke-rush.png' %}" height="468" width="778" alt="" /></a>
                            <div class="hover-content">
                                <span class="top"></span>
                                <span class="right"></span>
                                <span class="left"></span>
                                <span class="bottom"></span>
                                <div class="content">
                                    <div class="wrapper">
                                        <h5 class="h5 white"><a class="link" target="_blank" href="https://clarke-rush.com/">Clarke & Rush</a></h5>
                                    </div>
                                    <!-- <span class="offset-15"></span>
                                    <span class="button animated-button colored small-button">branding</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="sorting-item animated-block hover-animated right">
                            <a href="#" class="img-link"><img src="{% static 'img/custom/portfolio/Websites/dermamedspainc.png' %}" height="468" width="778" alt="" /></a>
                            <div class="hover-content">
                                <span class="top"></span>
                                <span class="right"></span>
                                <span class="left"></span>
                                <span class="bottom"></span>
                                <div class="content">
                                    <div class="wrapper">
                                        <h5 class="h5 white"><a class="link" href="http://www.dermamedspainc.com/">Derma Med Spa</a></h5>
                                    </div>
                                    <!-- <span class="offset-15"></span>
                                    <span class="button animated-button colored small-button">branding</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="sorting-item animated-block hover-animated">
                            <a href="#" class="img-link"><img src="{% static 'img/custom/portfolio/Websites/dhillonheat.png' %}" height="468" width="778" alt="" /></a>
                            <div class="hover-content">
                                <span class="top"></span>
                                <span class="right"></span>
                                <span class="left"></span>
                                <span class="bottom"></span>
                                <div class="content">
                                    <div class="wrapper">
                                        <h5 class="h5 white"><a class="link" target="_blank" href="https://www.dhillonheat.co.uk/">Dhillon Heat</a></h5>
                                    </div>
                                    <!-- <span class="offset-15"></span>
                                    <span class="button animated-button colored small-button">branding</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="sorting-item animated-block hover-animated right">
                            <a href="#" class="img-link"><img src="{% static 'img/custom/portfolio/Websites/flavoursofindia.png' %}" height="468" width="778" alt="" /></a>
                            <div class="hover-content">
                                <span class="top"></span>
                                <span class="right"></span>
                                <span class="left"></span>
                                <span class="bottom"></span>
                                <div class="content">
                                    <div class="wrapper">
                                        <h5 class="h5 white"><a class="link" target="_blank" href="https://www.flavoursofindia.co/">Flavours of India</a></h5>
                                    </div>
                                    <!-- <span class="offset-15"></span>
                                    <span class="button animated-button colored small-button">branding</span> -->
                                </div>
                            </div>
                        </div>

                        <div class="sorting-item animated-block hover-animated">
                            <a href="#" class="img-link"><img src="{% static 'img/custom/portfolio/Websites/heartchiropracticbrighton.png' %}" height="468" width="778" alt="" /></a>
                            <div class="hover-content">
                                <span class="top"></span>
                                <span class="right"></span>
                                <span class="left"></span>
                                <span class="bottom"></span>
                                <div class="content">
                                    <div class="wrapper">
                                        <h5 class="h5 white"><a class="link" target="_blank" href="https://www.heartchiropracticbrighton.co.uk/">Heart Chiropractic Brighton</a></h5>
                                    </div>
                                    <!-- <span class="offset-15"></span>
                                    <span class="button animated-button colored small-button">branding</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="sorting-item animated-block hover-animated right">
                            <a href="#" class="img-link"><img src="{% static 'img/custom/portfolio/Websites/idealconditionsjax.png' %}" height="468" width="778" alt="" /></a>
                            <div class="hover-content">
                                <span class="top"></span>
                                <span class="right"></span>
                                <span class="left"></span>
                                <span class="bottom"></span>
                                <div class="content">
                                    <div class="wrapper">
                                        <h5 class="h5 white"><a class="link" target="_blank" href="https://idealconditionsjax.com/">Ideal Conditions</a></h5>
                                    </div>
                                    <!-- <span class="offset-15"></span>
                                    <span class="button animated-button colored small-button">branding</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="sorting-item animated-block hover-animated">
                            <a href="#" class="img-link"><img src="{% static 'img/custom/portfolio/Websites/optimumaz.png' %}" height="468" width="778" alt="" /></a>
                            <div class="hover-content">
                                <span class="top"></span>
                                <span class="right"></span>
                                <span class="left"></span>
                                <span class="bottom"></span>
                                <div class="content">
                                    <div class="wrapper">
                                        <h5 class="h5 white"><a class="link" target="_blank" href="https://www.optimumaz.com/">Optimum Home Solutions</a></h5>
                                    </div>
                                    <!-- <span class="offset-15"></span>
                                    <span class="button animated-button colored small-button">branding</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="sorting-item animated-block hover-animated right">
                            <a href="#" class="img-link"><img src="{% static 'img/custom/portfolio/Websites/premierorthodontics.png' %}" height="468" width="778" alt="" /></a>
                            <div class="hover-content">
                                <span class="top"></span>
                                <span class="right"></span>
                                <span class="left"></span>
                                <span class="bottom"></span>
                                <div class="content">
                                    <div class="wrapper">
                                        <h5 class="h5 white"><a class="link" target="_blank" href="https://www.premierorthodontics.com/">Premier Orthodontics</a></h5>
                                    </div>
                                    <!-- <span class="offset-15"></span>
                                    <span class="button animated-button colored small-button">branding</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="sorting-item animated-block hover-animated">
                            <a href="#" class="img-link"><img src="{% static 'img/custom/portfolio/Websites/rainbowbuildingservices.png' %}" height="468" width="778" alt="" /></a>
                            <div class="hover-content">
                                <span class="top"></span>
                                <span class="right"></span>
                                <span class="left"></span>
                                <span class="bottom"></span>
                                <div class="content">
                                    <div class="wrapper">
                                        <h5 class="h5 white"><a class="link" target="_blank" href="https://rainbowbuildingservices.co.uk/">Rainbow Building Services</a></h5>
                                    </div>
                                    <!-- <span class="offset-15"></span>
                                    <span class="button animated-button colored small-button">branding</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="sorting-item animated-block hover-animated right">
                            <a href="#" class="img-link"><img src="{% static 'img/custom/portfolio/Websites/spasasse.png' %}" height="468" width="778" alt="" /></a>
                            <div class="hover-content">
                                <span class="top"></span>
                                <span class="right"></span>
                                <span class="left"></span>
                                <span class="bottom"></span>
                                <div class="content">
                                    <div class="wrapper">
                                        <h5 class="h5 white"><a class="link" target="_blank" href="https://www.spasasse.com/">Spa Sasse</a></h5>
                                    </div>
                                    <!-- <span class="offset-15"></span>
                                    <span class="button animated-button colored small-button">branding</span> -->
                                </div>
                            </div>
                        </div>


                        <div class="sorting-item animated-block hover-animated">
                            <a href="#" class="img-link"><img src="{% static 'img/custom/portfolio/Websites/tayyabs.png' %}" height="468" width="778" alt="" /></a>
                            <div class="hover-content">
                                <span class="top"></span>
                                <span class="right"></span>
                                <span class="left"></span>
                                <span class="bottom"></span>
                                <div class="content">
                                    <div class="wrapper">
                                        <h5 class="h5 white"><a class="link" target="_blank" href="https://www.tayyabs.co.uk/">Tayyabs</a></h5>
                                    </div>
                                    <!-- <span class="offset-15"></span>
                                    <span class="button animated-button colored small-button">branding</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="sorting-item animated-block hover-animated right">
                            <a href="#" class="img-link"><img src="{% static 'img/custom/portfolio/Websites/thedildar.png' %}" height="468" width="778" alt="" /></a>
                            <div class="hover-content">
                                <span class="top"></span>
                                <span class="right"></span>
                                <span class="left"></span>
                                <span class="bottom"></span>
                                <div class="content">
                                    <div class="wrapper">
                                        <h5 class="h5 white"><a class="link" target="_blank" href="https://www.thedildar.com/">The Dildar</a></h5>
                                    </div>
                                    <!-- <span class="offset-15"></span>
                                    <span class="button animated-button colored small-button">branding</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="sorting-item animated-block hover-animated">
                            <a href="#" class="img-link"><img src="{% static 'img/custom/portfolio/Websites/thesunnahstore.png' %}" height="468" width="778" alt="" /></a>
                            <div class="hover-content">
                                <span class="top"></span>
                                <span class="right"></span>
                                <span class="left"></span>
                                <span class="bottom"></span>
                                <div class="content">
                                    <div class="wrapper">
                                        <h5 class="h5 white"><a class="link" target="_blank" href="https://www.thesunnahstore.co.uk/">The Sunnah Store</a></h5>
                                    </div>
                                    <!-- <span class="offset-15"></span>
                                    <span class="button animated-button colored small-button">branding</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="sorting-item animated-block hover-animated right">
                            <a href="#" class="img-link"><img src="{% static 'img/custom/portfolio/Websites/van-dan.png' %}" height="468" width="778" alt="" /></a>
                            <div class="hover-content">
                                <span class="top"></span>
                                <span class="right"></span>
                                <span class="left"></span>
                                <span class="bottom"></span>
                                <div class="content">
                                    <div class="wrapper">
                                        <h5 class="h5 white"><a class="link" target="_blank" href="https://www.van-dan.com/">Van Dan</a></h5>
                                    </div>
                                    <!-- <span class="offset-15"></span>
                                    <span class="button animated-button colored small-button">branding</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="sorting-item animated-block hover-animated">
                            <a href="#" class="img-link"><img src="{% static 'img/custom/portfolio/Websites/vitalitydayspa.png' %}" height="468" width="778" alt="" /></a>
                            <div class="hover-content">
                                <span class="top"></span>
                                <span class="right"></span>
                                <span class="left"></span>
                                <span class="bottom"></span>
                                <div class="content">
                                    <div class="wrapper">
                                        <h5 class="h5 white"><a class="link" target="_blank" href="https://vitalitydayspa.co.uk/">Vitality Day Spa</a></h5>
                                    </div>
                                    <!-- <span class="offset-15"></span>
                                    <span class="button animated-button colored small-button">branding</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="sorting-item animated-block hover-animated right">
                            <a href="#" class="img-link"><img src="{% static 'img/custom/portfolio/Websites/westerndental.png' %}" height="468" width="778" alt="" /></a>
                            <div class="hover-content">
                                <span class="top"></span>
                                <span class="right"></span>
                                <span class="left"></span>
                                <span class="bottom"></span>
                                <div class="content">
                                    <div class="wrapper">
                                        <h5 class="h5 white"><a class="link" target="_blank" href="https://www.westerndental.com/en-us">Western Dental & Orthodontics</a></h5>
                                    </div>
                                    <!-- <span class="offset-15"></span>
                                    <span class="button animated-button colored small-button">branding</span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="offset-10"></span>
                <div class="clear"></div>
            </div>
        </div>
    </div>   
    <!-- BLOCK "TYPE 11 STYLE 3 PAGE 6.1" -->



    <div class="block block-type-11 style-5">
        <span class="offset-145 md-offset-80"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="portfolio__top">
                        <h1>Recent Graphics Works</h1>
                    </div>


                    <div class="sorting-container full-page borders" data-wow-delay="0.3s">
                        <div class="grid-sizer"></div>
                        <div class="sorting-item animated-block hover-animated outer">
                            <img src="{% static 'img/custom/portfolio/our-works/1.svg' %}" height="270" width="270" alt="" />
                            <!-- <div class="hover-content">
                                <span class="top"></span>
                                <span class="right"></span>
                                <span class="left"></span>
                                <span class="bottom"></span>
                                <div class="content">
                                    <div class="wrapper">
                                        <h5 class="h5 white category"><a class="link" href="portfolio-detail-1.html">Vine Shop</a></h5>
                                    </div>
                                    <span class="offset-15"></span>
                                    <span class="button animated-button colored small-button">branding</span>
                                </div>
                            </div> -->
                        </div>
                        <div class="sorting-item animated-block hover-animated  outer">
                            <img src="{% static 'img/custom/portfolio/our-works/2.svg' %}" height="270" width="270" alt="" />
                            <!-- <div class="hover-content">
                                <span class="top"></span>
                                <span class="right"></span>
                                <span class="left"></span>
                                <span class="bottom"></span>
                                <div class="content">
                                    <div class="wrapper">
                                        <h5 class="h5 white category"><a class="link" href="portfolio-detail-1.html">Vine Shop</a></h5>
                                    </div>
                                    <span class="offset-15"></span>
                                    <span class="button animated-button colored small-button">branding</span>
                                </div>
                            </div> -->
                        </div>
                        <div class="sorting-item animated-block hover-animated width-50  outer">
                            <img src="{% static 'img/custom/portfolio/our-works/3.svg' %}" height="270" width="570" alt="" />
                            <!-- <div class="hover-content">
                                <span class="top"></span>
                                <span class="right"></span>
                                <span class="left"></span>
                                <span class="bottom"></span>
                                <div class="content">
                                    <div class="wrapper">
                                        <h5 class="h5 white category"><a class="link" href="portfolio-detail-1.html">Vine Shop</a></h5>
                                    </div>
                                    <span class="offset-15"></span>
                                    <span class="button animated-button colored small-button">branding</span>
                                </div>
                            </div> -->
                        </div>
                        <div class="sorting-item animated-block hover-animated  outer">
                            <img src="{% static 'img/custom/portfolio/our-works/4.svg' %}" height="270" width="270" alt="" />
                            <!-- <div class="hover-content">
                                <span class="top"></span>
                                <span class="right"></span>
                                <span class="left"></span>
                                <span class="bottom"></span>
                                <div class="content">
                                    <div class="wrapper">
                                        <h5 class="h5 white category"><a class="link" href="portfolio-detail-1.html">Vine Shop</a></h5>
                                    </div>
                                    <span class="offset-15"></span>
                                    <span class="button animated-button colored small-button">branding</span>
                                </div>
                            </div> -->
                        </div>
                        <div class="sorting-item animated-block hover-animated width-50  outer">
                            <img src="{% static 'img/custom/portfolio/our-works/5.svg' %}" height="270" width="570" alt="" />
                            <!-- <div class="hover-content">
                                <span class="top"></span>
                                <span class="right"></span>
                                <span class="left"></span>
                                <span class="bottom"></span>
                                <div class="content">
                                    <div class="wrapper">
                                        <h5 class="h5 white category"><a class="link" href="portfolio-detail-1.html">Vine Shop</a></h5>
                                    </div>
                                    <span class="offset-15"></span>
                                    <span class="button animated-button colored small-button">branding</span>
                                </div>
                            </div> -->
                        </div>
                        <div class="sorting-item animated-block hover-animated  outer">
                            <img src="{% static 'img/custom/portfolio/our-works/6.svg' %}" height="270" width="270" alt="" />
                            <!-- <div class="hover-content">
                                <span class="top"></span>
                                <span class="right"></span>
                                <span class="left"></span>
                                <span class="bottom"></span>
                                <div class="content">
                                    <div class="wrapper">
                                        <h5 class="h5 white category"><a class="link" href="portfolio-detail-1.html">Vine Shop</a></h5>
                                    </div>
                                    <span class="offset-15"></span>
                                    <span class="button animated-button colored small-button">branding</span>
                                </div>
                            </div> -->
                        </div>
                        <div class="sorting-item animated-block hover-animated width-50  outer">
                            <img src="{% static 'img/custom/portfolio/our-works/7.svg' %}" height="270" width="570" alt="" />
                            <!-- <div class="hover-content">
                                <span class="top"></span>
                                <span class="right"></span>
                                <span class="left"></span>
                                <span class="bottom"></span>
                                <div class="content">
                                    <div class="wrapper">
                                        <h5 class="h5 white category"><a class="link" href="portfolio-detail-1.html">Vine Shop</a></h5>
                                    </div>
                                    <span class="offset-15"></span>
                                    <span class="button animated-button colored small-button">branding</span>
                                </div>
                            </div> -->
                        </div>
                        <div class="sorting-item animated-block hover-animated  outer">
                            <img src="{% static 'img/custom/portfolio/our-works/8.svg' %}" height="270" width="270" alt="" />
                            <!-- <div class="hover-content">
                                <span class="top"></span>
                                <span class="right"></span>
                                <span class="left"></span>
                                <span class="bottom"></span>
                                <div class="content">
                                    <div class="wrapper">
                                        <h5 class="h5 white category"><a class="link" href="portfolio-detail-1.html">Vine Shop</a></h5>
                                    </div>
                                    <span class="offset-15"></span>
                                    <span class="button animated-button colored small-button">branding</span>
                                </div>
                            </div> -->
                        </div>
                        <div class="sorting-item animated-block hover-animated  outer">
                            <img src="{% static 'img/custom/portfolio/our-works/9.svg' %}" height="270" width="270" alt="" />
                            <!-- <div class="hover-content">
                                <span class="top"></span>
                                <span class="right"></span>
                                <span class="left"></span>
                                <span class="bottom"></span>
                                <div class="content">
                                    <div class="wrapper">
                                        <h5 class="h5 white category"><a class="link" href="portfolio-detail-1.html">Vine Shop</a></h5>
                                    </div>
                                    <span class="offset-15"></span>
                                    <span class="button animated-button colored small-button">branding</span>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <span class="offset-45 md-offset-25"></span>
                <!-- <a class="button big-button animated-button align-center" href="#">
                    <span class="content">view all works</span>
                    <span class="top"></span>
                    <span class="right"></span>
                    <span class="left"></span>
                    <span class="bottom"></span>
                </a> -->
            </div>
        </div>
    </div>


    

    <!-- <span class="offset-160 md-offset-80"></span> -->

    <div class="portfolio__common__main">
        <div class="portfolio">
            <div class="portfolio__top">
                <h1>Branding Logo</h1>
            </div>

            <div class="portfolio__bottom">
                <div>
                    <img src="{% static 'img/custom/portfolio/Branding Logo/Branding Logo (1) (Medium).jpg' %}" alt="">
                    <h2>Power Plant Company Logo</h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/Branding Logo/Branding Logo (2) (Medium).jpg' %}" alt="">
                    <h2>Information Technology Logo</h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/Branding Logo/Branding Logo (3) (Medium).jpg' %}" alt="">
                    <h2>Food & Restaurant Logo</h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/Branding Logo/Branding Logo (4) (Medium).jpg' %}" alt="">
                    <h2>eCommerce Online Shop Logo</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio__common__main">
        <div class="portfolio">
            <div class="portfolio__top">
                <h1>Company Profile</h1>
            </div>

            <div class="portfolio__bottom">
                <div>
                    <img src="{% static 'img/custom/portfolio/Company Profile/Comapny Profile 1 (Medium).jpg' %}" alt="">
                    <h2></h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/Company Profile/Comapny Profile 2 (Medium).jpg' %}" alt="">
                    <h2></h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/Company Profile/Comapny Profile 3 (Medium).jpg' %}" alt="">
                    <h2></h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/Company Profile/Comapny Profile 4 (Medium).jpg' %}" alt="">
                    <h2></h2>
                </div>
            </div>
        </div>
    </div>


    <div class="portfolio__common__main">
        <div class="portfolio">
            <div class="portfolio__top">
                <h1>Corporate Website Design</h1>
            </div>

            <div class="portfolio__bottom">
                <div>
                    <img src="{% static 'img/custom/portfolio/Corporate Website Design/Corporate Website Design 1 (Medium).jpg' %}" alt="">
                    <h2>digiCreat Website Landing page</h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/Corporate Website Design/Corporate Website Design 2 (Medium).jpg' %}" alt="">
                    <h2>TwinMOS Website Landing page</h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/Corporate Website Design/Corporate Website Design 3 (Medium).jpg' %}" alt="">
                    <h2>Mobile Banking Website Landing page</h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/Corporate Website Design/Corporate Website Design 4 (Medium).jpg' %}" alt="">
                    <h2>Power call Website Landing page</h2>
                </div>
            </div>
        </div>
    </div>


    <div class="portfolio__common__main">
        <div class="portfolio">
            <div class="portfolio__top">
                <h1>E-commerce Website Design</h1>
            </div>

            <div class="portfolio__bottom">
                <div>
                    <img src="{% static 'img/custom/portfolio/E-commerce Website Design/E-commerce Website Design 1 (Medium).jpg' %}" alt="">
                    <h2>DotPrint Online Printing Press</h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/E-commerce Website Design/E-commerce Website Design 2 (Medium).jpg' %}" alt="">
                    <h2>DotPrint Online Printing Press</h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/E-commerce Website Design/E-commerce Website Design 3 (Medium).jpg' %}" alt="">
                    <h2>Rongginn eCommerce Web page Design</h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/E-commerce Website Design/E-commerce Website Design 4 (Medium).jpg' %}" alt="">
                    <h2>Ceffee Bean Web page Design</h2>
                </div>
            </div>
        </div>
    </div>



    <div class="portfolio__common__main">
        <div class="portfolio">
            <div class="portfolio__top">
                <h1>Facebook Cover page</h1>
            </div>

            <div class="portfolio__bottom">
                <div>
                    <img src="{% static 'img/custom/portfolio/Facebook Cover page/Facebook Cover page 1 (Medium).jpg' %}" alt="">
                    <h2>Art Academy Facebook Cover Page</h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/Facebook Cover page/Facebook Cover page 2 (Medium).jpg' %}" alt="">
                    <h2>NGLoad Facebook Cover Page</h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/Facebook Cover page/Facebook Cover page 3 (Medium).jpg' %}" alt="">
                    <h2>Christmas Facebook Cover Page</h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/Facebook Cover page/Facebook Cover page 4 (Medium).jpg' %}" alt="">
                    <h2>New Year Facebook Cover Page</h2>
                </div>
            </div>
        </div>
    </div>


    <div class="portfolio__common__main">
        <div class="portfolio">
            <div class="portfolio__top">
                <h1>Facebook Post Design</h1>
            </div>

            <div class="portfolio__bottom">
                <div>
                    <img src="{% static 'img/custom/portfolio/Facebook Post Design/Facebook Post Design 1 (Medium).jpg' %}" alt="">
                    <h2>DOZE Internet Facebook Post</h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/Facebook Post Design/Facebook Post Design 2 (Medium).jpg' %}" alt="">
                    <h2>eCourier Facebook Post</h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/Facebook Post Design/Facebook Post Design 3 (Medium).jpg' %}" alt="">
                    <h2>Radio2008 Facebook Post</h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/Facebook Post Design/Facebook Post Design 4 (Medium).jpg' %}" alt="">
                    <h2>DOZE Internet Facebook Post</h2>
                </div>
            </div>
        </div>
    </div>



    <div class="portfolio__common__main">
        <div class="portfolio">
            <div class="portfolio__top">
                <h1>Flyer</h1>
            </div>

            <div class="portfolio__bottom">
                <div>
                    <img src="{% static 'img/custom/portfolio/Flyer/Flyer 1 (Medium).jpg' %}" alt="">
                    <h2>TwinMOS Company Profile</h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/Flyer/Flyer 2 (Medium).jpg' %}" alt="">
                    <h2>TwinMOS Products Catalouge</h2>
                </div>
            </div>
        </div>
    </div>



    <div class="portfolio__common__main">
        <div class="portfolio">
            <div class="portfolio__top">
                <h1>Government Project</h1>
            </div>

            <div class="portfolio__bottom">
                <div>
                    <img src="{% static 'img/custom/portfolio/Government Project/Government Project 1 (Medium).jpg' %}" alt="">
                    <h2></h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/Government Project/Government Project 2 (Medium).jpg' %}" alt="">
                    <h2></h2>
                </div>
            </div>
        </div>
    </div>



    <div class="portfolio__common__main">
        <div class="portfolio">
            <div class="portfolio__top">
                <h1>Illustration Drawing</h1>
            </div>

            <div class="portfolio__bottom">
                <div>
                    <img src="{% static 'img/custom/portfolio/Illustration Drawing/Illustration Drawing 1 (Medium).jpg' %}" alt="">
                    <h2></h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/Illustration Drawing/Illustration Drawing 2 (Medium).jpg' %}" alt="">
                    <h2></h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/Illustration Drawing/Illustration Drawing 3 (Medium).jpg' %}" alt="">
                    <h2></h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/Illustration Drawing/Illustration Drawing 4 (Medium).jpg' %}" alt="">
                    <h2></h2>
                </div>
            </div>
        </div>
    </div>



    <div class="portfolio__common__main">
        <div class="portfolio">
            <div class="portfolio__top">
                <h1>Info-graphic Drawing</h1>
            </div>

            <div class="portfolio__bottom">
                <div>
                    <img src="{% static 'img/custom/portfolio/Info-graphic Drawing/Info-graphic Drawing 1 (Medium).jpg' %}" alt="">
                    <h2>Infographic Flat Drawing</h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/Info-graphic Drawing/Info-graphic Drawing 2 (Medium).jpg' %}" alt="">
                    <h2>Infographic Minimalist Line Drawing</h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/Info-graphic Drawing/Info-graphic Drawing 3 (Medium).jpg' %}" alt="">
                    <h2>Infographic Hand Sketch Line Drawing</h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/Info-graphic Drawing/Info-graphic Drawing 4 (Medium).jpg' %}" alt="">
                    <h2>Infographic Icon with Puzzle Drawing</h2>
                </div>
            </div>
        </div>
    </div>



    <div class="portfolio__common__main">
        <div class="portfolio">
            <div class="portfolio__top">
                <h1>Photography</h1>
            </div>

            <div class="portfolio__bottom">
                <div>
                    <img src="{% static 'img/custom/portfolio/Photography/Photography 1 (Medium).jpg' %}" alt="">
                    <h2></h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/Photography/Photography 2 (Medium).jpg' %}" alt="">
                    <h2></h2>
                </div>
            </div>
        </div>
    </div>



    <div class="portfolio__common__main">
        <div class="portfolio">
            <div class="portfolio__top">
                <h1>Website Banner</h1>
            </div>

            <div class="portfolio__bottom">
                <div>
                    <img src="{% static 'img/custom/portfolio/Website Banner/Website Banner 1 (Medium).jpg' %}" alt="">
                    <h2>TwinTAB Website Banner</h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/Website Banner/Website Banner 2 (Medium).jpg' %}" alt="">
                    <h2>SATA Hard Drive Docking Station Website Banner</h2>
                </div>
            </div>
        </div>
    </div>



    <div class="portfolio__common__main">
        <div class="portfolio">
            <div class="portfolio__top">
                <h1>X Stand -Banner</h1>
            </div>

            <div class="portfolio__bottom">
                <div>
                    <img src="{% static 'img/custom/portfolio/X Stand -Banner/X Stand -Banner 1 (Medium).jpg' %}" alt="">
                    <h2>Branded IT Products X Stand Banner</h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/X Stand -Banner/X Stand -Banner 2 (Medium).jpg' %}" alt="">
                    <h2>Branded IT Products Roll up Stand Banner</h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/X Stand -Banner/X Stand -Banner 3 (Medium).jpg' %}" alt="">
                    <h2>Branded IT Products X Stand Banner</h2>
                </div>

                <div>
                    <img src="{% static 'img/custom/portfolio/X Stand -Banner/X Stand -Banner 4 (Medium).jpg' %}" alt="">
                    <h2>Branded IT Products X Stand Banner</h2>
                </div>
            </div>
        </div>
    </div>
    

    <span class="offset-160 md-offset-80"></span>

    
    {% include "../footer.html" %}

{% endblock %}