
{% load static %}

<!-- HEADER STYLE 2 -->
<header class="style-2">
    <span class="animated-bg"></span>
    <div class="table-view">
        <div class="cell-view">
            <a href="/" id="logo">
                <img src="{% static 'img/custom/logo/header-logo.png' %}" alt="" class="logo logo-black"/>
                <img src="{% static 'img/custom/logo/footer-logo.png' %}" alt="" class="logo logo-white"/>
            </a>
            <div class="mob-icon">
                <span class="top nodelay"></span>
                <span class="middle nodelay"></span>
                <span class="bottom nodelay"></span>
            </div>
            <div class="menu-icon">
                <span class="top nodelay"></span>
                <span class="middle nodelay"></span>
                <span class="bottom nodelay"></span>
            </div>
            <nav>
                <ul class="custom__nav">
                    <li class="hover-effect-bold active-element">
                        <a href="/">HOME</a>
                    </li>
                    <li class="hover-effect-bold"><a href="/about/">ABOUT</a></li>
                    <li class="hover-effect-bold">
                        <a href="/portfolio/">PORTFOLIO</a>
                    </li>
                    <!-- <li class="hover-effect-bold" id="service">
                        <a href="/services/" class="service__nav">
                            SERVICEs
                        </a>
                    </li> -->
                    <!-- <li class="hover-effect-bold remove__stroke" id="service">
                        <a href="/services/" class="service__nav">
                            SERVICEs
                        </a>
                    </li> -->
                    <!-- <li class="hover-effect-bold" id="service">
                        <a href="/services/" class="service__nav">
                            SERVICEs
                        </a>
                    </li> -->

                    <li class="hover-effect-bold" id="service">
                        <a href="/services/" class="service__nav">
                            <!-- <a href="/services/" class="service__nav" id="service"> -->
                            <!-- <a href="#" class="noplus service__nav"> -->
                                SERVICEs
                                <img src="{% static 'img/icon/down-arrow-black.svg' %}" alt="" class="service__down__arrow__black" />
                            </a>
                    </li>
                    <li class="hover-effect-bold">
                        <a href="/contact/">CONTACT</a>
                    </li>
                    <li class="hover-effect-bold remove__stroke nav__special__button__parent">
                      <a href="/get-a-free-quote/">
                            Get a Free Quote

                            <span class="top"></span>
                            <span class="right"></span>
                            <span class="bottom"></span>
                            <span class="left"></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- HEADER STYLE 2 -->
