{% extends 'base.html' %}
{% load static %}

{% block title_block %} Page Speed Optimization | KaizenTech {% endblock %}

{% block body_block %}


<div class="block block-type-9 height-100 bottom-menu-container  block-on-background">
    <div class="clip">
        <div class="bg-nofixed" style="background-image:url('{% static 'img/block-9/banner-slider-1/home-banner.jpg' %}')"></div>
        <span class="bg-span light10"></span>
    </div>
    <div class="table-view">
        <div class="cell-view">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12 contains-main">
                        <div class="text__animation">
                            <p class="text__animation__content">I am Hadayetullah </p>
                            <p class="text__animation__content">I work at KaizenTech as a Web Developer</p>
                            <p class="text__animation__content">This animation took two and half days to be completed</p>
                        </div>
                        
                        <div id="myslider" class="slider">
                            <article class="main align-center style-2 large">
                                <a href="/about/" style="display: none;"></a>
                                <span class="offset-12"></span>
                                <h2 class="h1 white uppercased">
                                    <span class="content wow fadeIn">About
                                        <span class="left-decoration active-element"></span>
                                        <span class="right-decoration active-element"></span>
                                    </span>
                                </h2>
                                <span class="offset-15"></span>
                                <div class="wow fadeInLeft">
                                    <p>Aliquam fringilla odio metus, ut condimentum sem porta elementum sed massa laoreet, gravida eros nec, sagittis dui</p>
                                </div>
                                
                            </article>



                            <article class="main align-center style-2 large">
                                <a href="/portfolio/" style="display: none;"></a>
                                <span class="offset-12"></span>
                                <h2 class="h1 white uppercased">
                                    <span class="content wow fadeIn">Portfolio
                                        <span class="left-decoration active-element"></span>
                                        <span class="right-decoration active-element"></span>
                                    </span>
                                </h2>
                                <span class="offset-15"></span>
                                <div class="wow fadeInLeft">
                                    <p>Aliquam fringilla odio metus, ut condimentum sem porta elementum sed massa laoreet, gravida eros nec, sagittis dui</p>
                                </div>
                                
                            </article>


                            <article class="main align-center style-2 large">
                                <a href="/services/" style="display: none;"></a>
                                <span class="offset-12"></span>
                                <h2 class="h1 white uppercased">
                                    <span class="content wow fadeIn">Services
                                        <span class="left-decoration active-element"></span>
                                        <span class="right-decoration active-element"></span>
                                    </span>
                                </h2>
                                <span class="offset-15"></span>
                                <div class="wow fadeInLeft">
                                    <p>Aliquam fringilla odio metus, ut condimentum sem porta elementum sed massa laoreet, gravida eros nec, sagittis dui</p>
                                </div>
                                
                            </article>

                            <article class="main align-center style-2 large">
                                <a href="/contact/" style="display: none;"></a>
                                <span class="offset-12"></span>
                                <h2 class="h1 white uppercased">
                                    <span class="content wow fadeIn">Contact
                                        <span class="left-decoration active-element"></span>
                                        <span class="right-decoration active-element"></span>
                                    </span>
                                </h2>
                                <span class="offset-15"></span>
                                <div class="wow fadeInLeft">
                                    <p>Aliquam fringilla odio metus, ut condimentum sem porta elementum sed massa laoreet, gravida eros nec, sagittis dui</p>
                                </div>
                                
                            </article>
                        </div>
                            

                        <article class="main align-center style-2 large">
                            <span class="offset-45 md-offset-25"></span>
                            <a href="#" class="button animated-button white active-element wow fadeInRight">
                                <span class="content">more about us</span>
                                <span class="top"></span>
                                <span class="right"></span>
                                <span class="bottom"></span>
                                <span class="left"></span>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="affiliate__campaign__management">
    <!-- <div class="section1 affiliate__campaign__sections__common">
        <div class="section1__left">
            <img src="{% static 'img/block-9/banner-slider-1/about-banner.jpg' %}" alt="">
        </div>

        <div class="section1__right">
            <h1 class="section1__right__h1">Who we are</h1>
            <p>
                KaizenTech LLC is one of the most trusted and reputed affiliate marketing agencies in the world. Launching and managing a profitable affiliate campaign for your business is not a one-man job. You need a solid affiliate management team with affiliate recruitment specialists, affiliate industry specialists, affiliate managers, funnel experts, conversion experts, and more! At KaizenTech, we have over 17+ experienced team members backed up by over 7+ agency partners. We are your one-stop, headache-free shop for everything Affiliate.
            </p>
        </div>
    </div> -->


    <div class="section2">
        <div class="section2__top">
            <h1>
                Let's plan, launch & manage your Winning "affiliate marketing" campaign.
            </h1>
        </div>

        <div class="section2__bottom affiliate__campaign__sections__common">
            <div class="section2__bottom__left">
                <p>
                    We are a full setup team with technical gurus who can take care of all technical aspects such as setting up pixels and trackers. Track up to 10 levels of affiliates, fight fraud, and so on. We also have affiliate campaign strategists, affiliate sourcing experts, affiliate outreach experts, affiliate managers, support executives, and more.
                </p>

                <p>
                    We are a fully equipped affiliate marketing agency to take the full stress out of your head and bring in the profit for your business. We have helped many companies start from scratch and have grown to over 900% in six months or less.
                </p>

                <p>
                    Our method is proven, tailored toward quality.
                </p>
            </div>

            <div class="section2__bottom__right">
                <img src="{% static 'img/block-9/banner-slider-1/about-banner.jpg' %}" alt="">
            </div>
        </div>
    </div>


    <div class="section3">
        <div class="section3__top">
            <h1>
                5 Steps of a"winning affiliate campaign"
            </h1>
        </div>

        <div class="section3__bottom">
            <div class="subsection3 affiliate__campaign__sections__common">
                <div class="subsection3__left">
                    <h1>
                        Affiliate Marketing Strategy / Plan
                    </h1>
                    <p>
                        At first, we will analyze your business and take a proper brief from you about who your customers are, what is your unique selling proposition, what kind of buyers have the highest purchase intent, how or what helps your client make their mind to purchase, and so on.
                    </p>

                    <p>
                        With the data you’ll provide, combined with our validation study around your company and with the help of our extensive market insight we’ll start making an affiliate marketing plan for your business.
                    </p>

                    <p>
                        It will cover pricing strategy, commission strategy, affiliate software or network suggestion, and everything related to the affiliate marketing plan.
                    </p>
                </div>

                <div class="subsection3__right">
                    <img src="{% static 'img/block-9/banner-slider-1/about-banner.jpg' %}" alt="">
                </div>
            </div>

            <div class="subsection3 affiliate__campaign__sections__common">
                <div class="subsection3__right">
                    <img src="{% static 'img/block-9/banner-slider-1/about-banner.jpg' %}" alt="">
                </div>

                <div class="subsection3__left">
                    <h1>
                        Affiliate Tracking Software
                    </h1>
                    <p>
                        We’ll help you integrate your business into the preferred affiliate network or affiliate tracking software platform. We have worked with many affiliate marketplaces and in-house affiliate softwares. We are also well educated about funnel-based affiliate programs.
                    </p>

                    <p>
                        There are more than 100 affiliate marketplaces, over 50+ affiliate tracking software, several different affiliate marketing models, so many affiliate payout options, 2nd tier affiliate setup, fraud management, and more.
                    </p>

                    <p>
                        Many good companies often fail to set things up correctly, and that can often fail to record affiliate sales accurately. It reflects negatively on the whole affiliate campaign.
                    </p>
                </div>
            </div>

            <div class="subsection3 affiliate__campaign__sections__common">
                <div class="subsection3__left">
                    <h1>
                        Affiliate Recruitment
                    </h1>
                    <p>
                        We are THE real expert when it comes to high-quality affiliate recruitment. It’s a quality game, not quantity. It’s better to have ten super high-quality engaged affiliates over thousands of dead ones.
                    </p>

                    <p>
                        We use industry-leading business intelligence software to analyze your competitors, market, and source affiliates who have ready buyer traffic for your business.
                    </p>

                    <p>
                        We have our algorithm to identify specific commission levels for different affiliates to determine at what commission level they will be most attracted to push traffic to your website.
                    </p>
                    <p style="font-weight: 900;margin-top: 10px;color: #000;font-size: 20px;">Our goal is to recruit active, engaging affiliates that will deliver sales.</p>
                </div>

                <div class="subsection3__right">
                    <img src="{% static 'img/block-9/banner-slider-1/about-banner.jpg' %}" alt="">
                </div>
            </div>

            <div class="subsection3 affiliate__campaign__sections__common">
                <div class="subsection3__right">
                    <img src="{% static 'img/block-9/banner-slider-1/about-banner.jpg' %}" alt="">
                </div>

                <div class="subsection3__left">
                    <h1>
                        Affiliate Manager / Affiliate Management
                    </h1>
                    <p>
                        We know the pain of answering 100s of phone calls every day and thousands of support emails weekly for different situations like tracker not working, traffic not converting, different asset requirements, etc.
                    </p>

                    <p>
                        Being affiliates ourselves for years, we know how important it is to have an active affiliate manager who is extremely proficient in affiliate management. 
                    </p>

                    <p>
                        Our affiliate managers have years of experience in dealing with affiliates and the expertise to grow an affiliate program overall. We use specific processes to identify and segment the most relevant affiliates and work closely with the affiliates to help them run profitable promotional campaigns. 
                    </p>
                    <p>
                        The secret sauce to a successful affiliate program is the business’s relationship with its affiliates. We build that relationship with your affiliates on behalf of your brand and make sure affiliates are comfortable, motivated, and have everything they need to grow and bring in revenue.
                    </p>
                </div>
            </div>

            <div class="subsection3 affiliate__campaign__sections__common">
                <div class="subsection3__left">
                    <h1>
                        Affiliate Payroll
                    </h1>
                    <p>
                        Paying one or two affiliates is easy. But paying 100 or more affiliates every month is daunting. Especially when there are refunds, account holds, fake leads, fake clicks, and so on!
                    </p>

                    <p>
                        As your Affiliate Marketing Agency, we will audit all the affiliate accounts, and prepare a mass payment excel file for you every months’ first week, so you can upload it to your payment method and hit pay.
                    </p>

                    <p>
                        We have our algorithm to identify specific commission levels for different affiliates to determine at what commission level they will be most attracted to push traffic to your website.
                    </p>
                </div>

                <div class="subsection3__right">
                    <img src="{% static 'img/block-9/banner-slider-1/about-banner.jpg' %}" alt="">
                </div>
            </div>

            <div class="subsection3 affiliate__campaign__sections__common" style="margin: 220px 0;">
                <div class="subsection3__left">
                    <h1>
                        AWARD-WINNING B2B DIGITAL MARKETING AGENCY
                    </h1>
                    <p>
                        MonsterClaw has secured numerous digital marketing awards over its 15-year long journey. We are among the World’s Top 5 Affiliate Marketing companies according to clutch rankings.
                    </p>

                    <p>
                        We take great pride in our work and we go all out to achieve the desired results for our clients and grow beyond their expectations.

                    <p style="font-weight: 900;margin-top: 10px;color: #000;font-size: 20px;">
                        Interested in growing your business rapidly?
                    </p>
                </div>

                <div class="subsection3__right">
                    <img src="{% static 'img/block-9/banner-slider-1/about-banner.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- SPLIDE -->
    <!-- <div class="section4">
        <div class="splide" role="group">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <p>
                            Rifat is wonderful to work with. He is insightful, knowledgeable and great at communicating. We look forward to future projects. 
                        </p>
                    </li>
                    <li class="splide__slide">
                        <p>
                            While the results are ongoing, MonsterClaw LLC has lived up to expectations. Their team is efficient and communicative, quickly responding to all queries.	
                        </p>
                    </li>
                    <li class="splide__slide">
                        <p>
                        Extremely good first experience working with Rifat, Polas and the MonsterClaw LLC team, they did in one week what my previous developer couldn’t do in a month.
                    </li>
                        <li class="splide__slide">
                        <p>
                            Rifat is wonderful to work with. He is insightful, knowledgeable and great at communicating. We look forward to future projects. 
                        </p>
                    </li>
                    <li class="splide__slide">
                        <p>
                            While the results are ongoing, MonsterClaw LLC has lived up to expectations. Their team is efficient and communicative, quickly responding to all queries.	
                        </p>
                    </li>
                    <li class="splide__slide">
                        <p>
                            Extremely good first experience working with Rifat, Polas and the MonsterClaw LLC team, they did in one week what my previous developer couldn’t do in a month.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->
</div>


{% include "footer.html" %}
{% endblock %}